<div id="login-top">&nbsp;</div>

<div class="w3-row">
  <div class="w3-col m4 l5">
    &nbsp;
  </div>
  <div class="w3-col m4 l2 w3-center" (keyup.enter)="sendLogin()">
    <br>
    <input type="text" name="login" id="input-login" class="w3-input" placeholder="user" [(ngModel)]="login">
    <input type="password" name="passwd" id="input-passwd" class="w3-input" placeholder="password" [(ngModel)]="passwd">
    <div id="login-button">
      <button type="submit" class="w3-button w3-gray" (click)="sendLogin()">login</button>
    </div>
  </div>
  <div class="w3-col m4 l5">
    &nbsp;
  </div>
</div>

<div class="w3-row">
  <div class="w3-col m4 l5">
    &nbsp;
  </div>
  <div class="w3-col m4 l2">
    <p class="w3-red">{{ message }}</p>
  </div>
  <div class="w3-col m4 l5">
    &nbsp;
  </div>
</div>
