input#pagination_offset {
  display: inline-block;
  width: 60px;
  padding: 2px;
}

#pagination_count {
  background-color: #999999;
  color: white;
  font-weight: bold;
}

label {
  display: inline-block;
}

/*# sourceMappingURL=pagination.component.css.map */
