<div id="pagination" class="w3-card">
  <div class="w3-bar">
    <label for="pagination_offset">&nbsp;</label>
    <input type="number" step="10" min="2" id="pagination_offset" class="w3-input" (blur)="pageSizeChanged(pageSize)"
           (change)="pageSizeChanged(pageSize)" [(ngModel)]="pageSize" title="Anzahl pro Seite">
    <span class="arcr-header-padding-s">&nbsp;&nbsp;</span>
    <span id="pagination_count" class="w3-padding" *ngIf="count" title="Anzahl Suchergebnisse">{{ count }}</span>
    <span class="arcr-header-padding-s">&nbsp;&nbsp;</span>
    <button class="w3-button" (click)="goToPage(pageCurrent + 1)"
            [disabled]="!pageCount || (pageCount - 1) == pageCurrent"
            title="eine Seite zurück">
      <fa-icon [icon]="faForward"></fa-icon>
    </button>
    <ng-container *ngFor="let pageNumber of pageNumbers">
      <button class="w3-button" (click)="goToPage(pageNumber)" [class.w3-gray]="pageNumber == pageCurrent"
              title="zeige Seite {{pageNumber + 1}}">
        {{ pageNumber + 1 }}
      </button>
    </ng-container>
    <button class="w3-button" (click)="goToPage(pageCurrent - 1)" [disabled]="!pageCount || 0 == pageCurrent"
            title="eine Seite vor">
      <fa-icon [icon]="faBackward"></fa-icon>
    </button>
  </div>
</div>
