<!-- Sidebar -->
<div *ngIf="menuVisible" class="w3-sidebar w3-bar-block w3-theme" style="z-index:5">
  <button class="w3-bar-item w3-button" (click)="closeMenu()">close&nbsp;<span
    class="material-icons w3-right">close</span></button>
  <a [routerLink]="['']" routerLinkActive="w3-theme-l1" class="w3-bar-item w3-button">
    <app-svg-icon filename="home"></app-svg-icon>
    Home</a>
  <a [routerLink]="['/login']" routerLinkActive="w3-theme-l1" class="w3-bar-item w3-button">
    <app-svg-icon filename="login"></app-svg-icon>
    Login</a>
  <button class="w3-bar-item w3-button" (click)="showAlert()">alert</button>
  <a [routerLink]="['/order-search']" routerLinkActive="w3-theme-l1" class="w3-bar-item w3-button">
    <fa-icon [icon]="faIndustry"></fa-icon>
    Auftrag Suche</a>
</div>

<div class="w3-theme full-height">
  <div *ngIf="menuVisible" class="w3-overlay" (click)="closeMenu()" style="cursor:pointer; display: block"></div>
  <div class="w3-bar w3-theme-l1">
    <button class="w3-button w3-bar-item" (click)="openMenu()"><span class="material-icons">menu</span></button>
    <!-- ToDo dynamisches Panel: title, last search?!, back -->
  </div>

  <router-outlet></router-outlet>
  <app-message-alert></app-message-alert>
</div>
