/**
custom font with inkscape and fontforge
 */
@font-face {
  font-family: "Lingana";
  font-style: normal;
  font-weight: 400;
  src: local("Khlang"), url(./lingana.ttf) format("truetype");
}
.lingana-icons {
  font-family: "Lingana" !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

/*# sourceMappingURL=lingana.css.map */
