<div class="message-alert-modal" *ngIf="message"
     [style.display]="styleDisplay">
  <div class="message-alert-content cursor-pointer"
       [style.background-color]="message.styleBgColor"
       [style.color]="message.styleColor"
       (click)="hide()">
    <strong class="w3-large">{{message.label}}</strong>
    <div [innerHTML]="message.text"></div>
  </div>
</div>
