.message-alert-modal {
  display: none;
  z-index: 4; // modal has 3
  width:100%;
  padding-top: 20px;
  position:fixed;
  left:0;
  top:0;
  overflow:auto;
}

.message-alert-content {
  position:relative;
  margin: auto;
  width: 60%;
  padding: 3px 9px;
  outline:0;
}
