.message-alert-modal {
  display: none;
  z-index: 4;
  width: 100%;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
}

.message-alert-content {
  position: relative;
  margin: auto;
  width: 60%;
  padding: 3px 9px;
  outline: 0;
}

/*# sourceMappingURL=message-alert.component.css.map */
