<div class="w3-bar page-top-bar arcr-panel-header">
  <div class="w3-bar-item">
    <strong [innerHTML]="heading" class="w3-button-pseudo"></strong>
  </div>
  <div *ngIf="hasCloseButton" class="w3-bar-item w3-right">
    <button (click)="closePage.emit()" class="w3-button">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div *ngIf="hasBackButton" class="w3-bar-item w3-right">
    <button (click)="leavePage.emit()" class="w3-button">
      <fa-icon [icon]="faBackward"></fa-icon>
    </button>
  </div>
</div>
