<app-page-top-bar [heading]="headingText" [hasCloseButton]="withCloseButton" (closePage)="closeClick()"></app-page-top-bar>

<div id="product-search" class="" (keyup.enter)="executeSearch()">
  <div class="w3-row">
    <div class="w3-col l2 m4 s6">
      <div class="arcr-search-field">
        <label for="order_no" class="label-tec">Auftrag Nr.</label>
        <input type="text" [(ngModel)]="orderSearch.order_no_compl" id="order_no" class="w3-input">
      </div>
    </div>
    <div class="w3-col l2 m4 s6">
      <div class="arcr-search-field">
        <label for="order_label" class="label-tec">Auftrag Label</label>
        <input type="text" [(ngModel)]="orderSearch.order_label" id="order_label" class="w3-input">
      </div>
    </div>
    <div class="w3-col l2 m4 s6">
      <div class="arcr-search-field">
<!--        <label for="order_time_create_from" class="label-tec">Datum von</label>-->
<!--        <ng2-flatpickr [config]="flatpickrOptions" [(ngModel)]="orderSearch.order_time_create_from" id="order_time_create_from"></ng2-flatpickr>-->
<!--        <dp-date-picker [config]="datePickerConf" [(ngModel)]="orderSearch.order_time_create_from" id="order_time_create_from"></dp-date-picker>-->
      </div>
    </div>
    <div class="w3-col l2 m4 s6">
      <div class="arcr-search-field">
<!--        <label for="order_time_create_to" class="label-tec">Datum bis</label>-->
<!--        <ng2-flatpickr [config]="flatpickrOptions" [(ngModel)]="orderSearch.order_time_create_to" id="order_time_create_to"></ng2-flatpickr>-->
<!--        <dp-date-picker [config]="datePickerConf" [(ngModel)]="orderSearch.order_time_create_to" id="order_time_create_to"></dp-date-picker>-->
      </div>
    </div>

    <div class="w3-col l2 m4 s6">
      <div class="arcr-search-field">
        <label for="customer_no" class="label-tec">Kunden Nr.</label>
        <input type="text" [(ngModel)]="orderSearch.customer_no" id="customer_no" class="w3-input" (keyup)="customerNoChanged()" autocomplete="off">
        <div class="arcr-autocomplete">
          <div *ngFor="let customerNo of customerNos" class="cursor-pointer" (click)="customerNoChange(customerNo.value)">{{customerNo.label}}</div>
        </div>
      </div>
    </div>
    <div class="w3-col l2 m4 s6">
      <div class="arcr-search-field">
        <label for="offer_no" class="label-tec">Angebot Nr.</label>
        <input type="text" [(ngModel)]="orderSearch.offer_no_compl" id="offer_no" class="w3-input">
      </div>
    </div>
    <div class="w3-col l2 m4 s6">
      <div class="arcr-search-field">
        <label for="cost_centre_id" class="label-tec">Kostenstelle</label>
        <select [(ngModel)]="orderSearch.cost_centre_id" id="cost_centre_id" class="w3-select">
          <option selected="selected" value="">-- &#x3f; --</option>
          <option *ngFor="let costCentre of costCentres | keyvalue" [value]="costCentre.key">{{costCentre.value}}</option>
        </select>
      </div>
    </div>
    <div class="w3-col l2 m4 s6">
      <div class="arcr-search-field">
        <label for="location_place_uuid" class="label-tec">Standort</label>
        <select [(ngModel)]="orderSearch.location_place_uuid" id="location_place_uuid" class="w3-select">
          <option selected="selected" value="">-- &#x3f; --</option>
          <option *ngFor="let locationPlace of locationPlaces | keyvalue" [value]="locationPlace.key">{{locationPlace.value}}</option>
        </select>
      </div>
    </div>
    <div class="w3-col l2 m4 s6">
      <div class="arcr-search-field">
        <label for="only_open" class="label-tec">nur offene</label>
        <input type="checkbox" [(ngModel)]="orderSearch.only_open" id="only_open" class="w3-check" (click)="onlyFinishClicked('open')">
      </div>
    </div>
    <div class="w3-col l2 m4 s6">
      <div class="arcr-search-field">
        <label for="only_finish" class="label-tec">nur erledigt</label>
        <input type="checkbox" [(ngModel)]="orderSearch.only_finish" id="only_finish" class="w3-check" (click)="onlyFinishClicked('finish')">
      </div>
    </div>

  </div>

  <div class="w3-bar page-top-bar">
    <div class="w3-bar-item">
      <button (click)="executeSearch()" class="w3-button arcr-primary">los</button>
      <span class="arcr-header-padding-s">&nbsp;&nbsp;</span>
      <button (click)="resetSearch()" class="w3-button arcr-secondary">reset</button>
    </div>
    <div class="w3-bar-item">
      <app-pagination [count]="orderSearch.count" [pageSize]="orderSearch.limit" (pageSizeOut)="limitChanged($event)"
                       (pageCurrentOut)="pageCurrentChanged($event)" [pageCurrent]="orderSearch.offset / orderSearch.limit"></app-pagination>
    </div>
  </div>
</div>


<table class="w3-table w3-table-all arcr-table">
  <thead>
  <tr class="w3-theme">
    <th class="cursor-pointer label" (click)="checkOrder('order_no_compl')" style="width: 130px">
      Auftrag Nr.&nbsp;<span id="arrow_order_no_compl" class="order-direc-arrow"></span>
    </th>
    <th class="cursor-pointer label" (click)="checkOrder('order_label')" style="width: 200px">
      Label&nbsp;<span id="arrow_order_label" class="order-direc-arrow"></span>
    </th>
    <th class="cursor-pointer label" (click)="checkOrder('customer_no')" style="width: 130px">
      Kd.-Nr.&nbsp;<span id="arrow_customer_no" class="order-direc-arrow"></span>
    </th>
    <th class="cursor-pointer label" (click)="checkOrder('customer_name')" style="width: 260px">
      Kunden Name&nbsp;<span id="arrow_customer_name" class="order-direc-arrow"></span>
    </th>
    <th class="cursor-pointer label" (click)="checkOrder('cost_centre_label')" style="width: 240px">
      Kostenstelle&nbsp;<span id="arrow_cost_centre_label" class="order-direc-arrow"></span>
    </th>
    <th class="cursor-pointer label" (click)="checkOrder('location_place_label')">
      Standort&nbsp;<span id="arrow_location_place_label" class="order-direc-arrow"></span>
    </th>
    <th class="label">AB</th>
    <th class="label">LS</th>
    <th class="label">RG</th>
    <th class="label">BA</th>
    <th class="label">Angebot</th>
    <th class="cursor-pointer label" (click)="checkOrder('order_time_create')">
      erstellt&nbsp;<span id="arrow_order_time_create" class="order-direc-arrow"></span>
    </th>
    <th class="cursor-pointer label" (click)="checkOrder('order_time_finish_schedule')">
      Liefertermin&nbsp;<span id="arrow_order_time_finish_schedule" class="order-direc-arrow"></span>
    </th>
    <th class="label">erledigt</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders" class="arcr-hover-secondary w3-theme">
    <td class="cursor-pointer app-link" (click)="itemClick(order.order_uuid)" [class.arcr-warning]="order.is_time_finish_dirty">
      {{order.order_no_compl}}
    </td>
    <td>{{order.order_label}}</td>
    <td>{{order.customer_no}}</td>
    <td [innerHTML]="order.customer_name"></td>
    <td [innerHTML]="order.cost_centre_label"></td>
    <td [innerHTML]="order.location_place_label"></td>
    <td>{{order.count_doc_order_confirm}}</td>
    <td>{{order.count_doc_delivery | hideZero}}</td>
    <td>{{order.count_doc_invoice | hideZero}}</td>
    <td>{{order.count_factoryorder | hideZero}}</td>
    <td>
      <ng-container *ngIf="order.offer_uuid">
        <a class="cursor-pointer app-link" [routerLink]="['/offer', 'offer', order.offer_uuid]">{{order.offer_no}}</a>
      </ng-container>
    </td>
    <td>{{order.order_time_create | date: 'dd.MM.yyy'}}</td>
    <td>{{order.order_time_finish_schedule | date: 'dd.MM.yyy'}}</td>
    <td>{{order.order_time_finish_real | date: 'dd.MM.yyy'}}</td>
  </tr>
  </tbody>
</table>

<!--<pre>{{orders | json}}</pre>-->
