/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Ubuntu";
  src: url(./assets/font/ubuntu/Ubuntu-R.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  src: url(./assets/font/ubuntu/Ubuntu-B.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: monospace;
  src: url(./assets/font/ubuntu/UbuntuMono-R.ttf) format("truetype");
}
* {
  font-family: Ubuntu, Arial, sans-serif !important;
}

html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
